.sorting-dropdown {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.5rem;
    align-items: center
}

.dropdown-menu {
    width: 100%;
    background: burlywood;
}